@media screen and (min-width: 576px) {
    .navbar .container-fluid,
    .navbar-expand-sm .navbar-collapse,
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
    .navbar {
        width: 10vw;
        height: 100vh;
    }
}
